/* CSS Document */
$main-color: #B08323;
$base-color: #B0AA9E;
$text-color: #4D390F;
$closingDay-color: #408040;

.wrapper{
  height: 400px;
    margin: 50px auto 0;
    color: $text-color;
}
#header {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 1rem 0 0;
}

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}
table {
    outline: 2px solid #B0AA9E;
    border-collapse: collapse;
    width: 100%;
  height: 265px;
  background-color: #D9D9D9;
}
th {
    color: #000;
  background-color: #B08323;
}
th, td {
    outline: 3px solid #B0AA9E;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
/*日曜日*/
td:first-child {
  color: black;
    background-color: $closingDay-color;
}
/*土曜日*/
td:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    color: red;
  font-weight: 700;
  text-decoration: underline;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}

.closing-day {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3px;
  float: right;
  width: 75px;
  height: 30px;
  span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $closingDay-color;
  }
  p {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    vertical-align: bottom;
  }
}
td.closing {
  color: #000;
  background-color: $closingDay-color;
}